# This is a basic workflow to help you get started with Actions

name: Docker Series Builds - CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Build Java with Gradle
        run: ./gradlew build
      
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v1
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v1
#  
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v1 
#        with:
#          registry: ghcr.io
#          repo-token: ${{ secrets.GITHUB_TOKEN }}
#          
#      - name: Build and Push Docker Image
#        id: docker_build
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          file: ./dockerfile/Dockerfile
#          push: true
#          tags: ghcr.io/mt-platform-org/demo-project-cicd/demo-project-cicd_v2711

        - name: Push to GitHub Packages
          uses: docker/build-push-action@v1
          with:
            context: .
            file: ./dockerfile/Dockerfile
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            registry: docker.pkg.github.com
            repository: mt-platform-org/demo-project-cicd/demo-project-cicd_v2711:latest_v1.0
            tag_with_ref: true
              