name: Build and Publish Docker image
#on:
#  release:
#    types: [published]

on:
  push:
    branches: [ master ]
    
jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Build Java with Gradle
        run: ./gradlew build
        
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          context: .
          file: ./dockerfile/Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: sanjayk2020/springboot-ci-demo:latest
          tag_with_ref: true
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          context: .
          file: ./dockerfile/Dockerfile
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: mt-platform-org/demo-project-cicd/demo-project-cicd:latest
          tag_with_ref: true